@charset "utf-8";
/* CSS Document */

/* 全局定义 */
* {
	margin:0;
	padding:0;
}

html {
	padding: 70px 0 0 0;
	overflow:hidden;
}

body {
	height: 100%;
	min-height: 100%;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

a {
	color: #214FA3;
	text-decoration: none;
}

/* 表格形式模块样式 */
div.moditem {
	border:#CCC solid 2px;
}

table.moditem {
	width:100%;
	border-collapse:collapse;
	border: 1px solid #214FA3;
}

table.moditem th{
	background:#214FA3;
	height: 25px;
	color:#FFF;
	font-size:14px;
	font-weight:bold;
	vertical-align:middle;
}

table.moditem td {
	padding: 5px 0 0 0;
	line-height:25px;
}

table.moditem .labelcol {
	text-align:right;
	width: 30%;
	padding-right:5px;
}

table.moditem .buttonrow {
	text-align:center;
	vertical-align:middle;
	padding: 3px 0 3px 0;
}

/*
 * 后台主页面框架布局
 * By Felix Dong
 */
#topframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 69px;
	overflow: hidden;
	background: #214FA3;
	color: #fff;
	border-bottom: #CCC 1px solid;
}

#leftframe {
	position:absolute;
	top: 70px;
	left: 0;
	bottom: 0;
	width: 200px;
	overflow: auto;
}

* html #mainframe {
	margin-left: 200px;
	height: 100%;
}

* html #leftframe {
	height: 100%;
}

#mainframe {
	position: fixed;
	top: 70px;
	bottom: 0;
	left: 200px;
	right: 0;
	overflow: auto;
	width: auto;
	padding: 5px;
}

/* 登录页表单定位 */
div#loginpage {
	position:absolute;
	top:32%;
	left:40%;
	width: 280px;
}

div.errormsg {
	margin: 3px;
	background: #f00;
	padding: 5px;
	color: #fff;
	border: #ff0 1px solid;
}

/* 主页面样式 */

/* 顶部 */
h1#toptitle {
	position: relative;
	top: 15px;
	margin-left: 30px;
    font-size: 24px;
}

/* 左栏 */
div#guidetree {
	margin-left: 12px;
	width: 160px;
}

div.wrapitem {
	border: #CCC 2px solid;
	margin: 10px 0 5px 0;
}

div.treeitem {
	border: 1px solid #214FA3;
}

div.treeitem div {
	background: #214FA3;
	height: 18px;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
}
div.treeitem ul {
	margin: 5px;
}
div.treeitem li {
	list-style: none;
	height: 18px;
	padding-left: 12px;
}

/* 主模块(DIV形式)样式 */
div.mainmodwrap {
	border: #CCC 2px solid;
	margin: 20px 5px 10px 5px;
}

div.mainmod {
	border: 1px solid #214FA3;
}

div.mainmod .modtitle {
	background:#214FA3;
	height: 20px;
	color:#FFF;
	font-size:14px;
	font-weight:bold;
	text-align: center;
	padding-top: 3px;
}

div.mainmod .modcontent {
	padding: 5px;
}

.dialog_form {
	text-align: center;
}

.dialog_form tr {
	height: 25px;
}


.dialog_form td {
	width: 80px;
	text-align: left;

}