@charset "utf-8";
/* 主模块(DIV形式)样式 */
div.mainmodwrap {
	border: #CCC 2px solid;
	margin: 20px 5px 10px 5px;
}

div.mainmod {
	border: 1px solid #214FA3;
}

div.mainmod .modtitle {
	background:#214FA3;
	height: 20px;
	color:#FFF;
	font-size:14px;
	font-weight:bold;
	text-align: center;
	padding-top: 3px;
}

div.mainmod .modcontent {
	padding: 5px;
}
